<head>
    <title>Title</title> <!-- PAGE TITLE -->
    <link rel="icon" href=""> <!-- FAVICON -->
    <link rel="stylesheet" href="style.css"> <!-- CHANGE THIS TO THE NAME OF YOUR CSS FILE -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!--

Layout by Bianca

Website: https://nogood-angel.neocities.org/
Ko-fi: https://ko-fi.com/user333143

-->

<body>
    <div class="container">
        <header>
            <h1>⌈ NAME ⌋</h1>
        </header>
        <main>
            <div class="left">
                <nav>
                    <h4><span>Sitely</span></h4>
                    <a href="">Link 01</a>
                    <a href="">Link 02</a>
                    <a href="">Link 03</a>
                    <a href="">Link 04</a>
                    <a href="">Link 05</a>
                    <a href="">Link 06</a>
                    <h4><span>Personal</span></h4>
                    <a href="">Link 07</a>
                    <a href="">Link 08</a>
                    <a href="">Link 09</a>
                    <a href="">Link 10</a>
                    <a href="">Link 11</a>
                    <a href="">Link 12</a>
                    <h4><span>Other</span></h4>
                    <a href="">Link 13</a>
                    <a href="">Link 14</a>
                    <a href="">Link 15</a>
                    <a href="">Link 16</a>
                    <a href="">Link 17</a>
                    <a href="">Link 18</a>
                </nav>
                <a href=""><button>Button link 1</button></a>
                <a href=""><button>Button link 2</button></a>
            </div>
            <div class="center">
                <div id="welcome" class="box">
                    <h4>Welcome</h4>
                    <div class="inner">
                        <p>This is normal text. <b>This is bold text.</b> <i>This is italic text.</i> <u>This is underlined text.</u> <del>This is strikethrough.</del> <span>This is highlighted text.</span> <a href="https://www.youtube.com/watch?v=OBOfblrONgA">This is a link.</a> This was a paragrath.</p>
                        <p>This is another paragraph.</p>
                        <blockquote>
                            <p>This is a blockquote.</p>
                        </blockquote>
                        <details>
                            <summary>This is foldable content</summary>
                            This is inside.
                        </details>
                    </div>
                </div>
                <div class="flex">
                    <div id="about" class="box">
                        <h4>About me</h4>
                        <div class="inner">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tincidunt augue. Aliquam ac sem nec massa tempus tincidunt. Maecenas posuere sodales ex, vitae interdum diam vehicula et.</p>
                        </div>
                    </div>
                    <div id="currently" class="box">
                        <h4>Currently</h4>
                        <div class="inner">
                            <ul>
                                <li><b>Reading:</b> Book</li>
                                <li><b>Watching:</b> Show/Movie</li>
                                <li><b>Playing:</b> Game</li>
                                <li><b>Listening:</b> Song</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div id="updates" class="box">
                    <h4>Updates</h4>
                    <div class="inner">
                        <ul>
                            <li><span>18•09•25</span> - Update 01</li>
                            <li><span>18•09•25</span> - Update 02</li>
                            <li><span>18•09•25</span> - Update 03</li>
                            <li><span>18•09•25</span> - Update 04</li>
                            <li><span>18•09•25</span> - Update 05</li>
                            <li><span>18•09•25</span> - Update 06</li>
                        </ul>
                    </div>
                </div>
                <div id="stamps" class="box">
                    <marquee onmouseover="this.stop();" onmouseout="this.start();">
                        <a href=""><img src="button.png"></a>
                        <a href=""><img src="button.png"></a>
                        <a href=""><img src="button.png"></a>
                        <a href=""><img src="button.png"></a>
                    </marquee>
                </div>
                <img id="banner" src="image2.jpg">
            </div>
        </main>
        <footer>
            <p style="margin:0">"The world is a jigsaw puzzle. Somewhere there's a fit for you."</p>
            <div class="credit">
                ♱
                <div class="creditLink">Layout by <a href="https://ko-fi.com/user333143">Bianca</a></div>
            </div>
        </footer>
    </div>
</body>