@import url(https://nogood-angel.moe/common.css);
@import url(https://nogood-angel.moe/style.css);

body {
    background: none;
    height: auto;
    margin: 0;
    font-size: 14px;
}
#top_banner {
    background: var(--lightgreen);
    border-bottom: var(--green) solid;
    border-width: 2px 0;
    width: 100%;
    padding: 7px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px var(--darkpink);
    color: white;
    justify-content: center;
    a {
        font-size: 0;
    }
}
#main {
    height: 100%;
}

#top_banner::after {
    content: "Chat";
}

#background {
    padding: 8px;
    scrollbar-color: var(--green) transparent;
    scrollbar-width: thin;
}
.msgWrapper {
    background: var(--palepurple);
    border: 2px var(--purple) solid;
    border-radius: var(--borderRadiusMd);
    padding: 1px 3px 0;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
.senderInfo:not(:last-child) {
    margin-bottom: 0;
}
.badge {
    display: none;
}
.senderInfo:has(.owner)::after {
    content: "[Owner]";
    margin-left: 5px;
    color: var(--red);
}
.senderInfo:has(.mod)::after {
    content: "[Mod]";
    margin-left: 5px;
    color: var(--red);
}

#textInput {
    background: var(--lightgreen);
    border-top: 2px var(--green) solid;
    padding: 5px;
}
#input {
    background: var(--palegreen);
    border: 2px var(--green) double;
    padding: 5px 10px;
    font-family: inherit;
    &:empty::before {
        content: "Send a message...";
    }
}
#emojiTrayToggle {
    margin: 5px;
}

#settingsMenu {
    background-color: var(--paleyellow);
    width: 100%;
}