* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url(cursor.cur), default;
}
:root {
    --palepink: #f7edf1;
    --lightpink: #f7d7e2;
    --pink: #eda4bc;
    --darkpink: #ba5979;
    --hotpink: #eb608c;
    --red: #bd4d4d;
    --brown: #523f39;
    --yellow: #efeab5;
    --palegreen: #e6f5e8;
    --green: #89c78f;
    --paleblue: #edeff7;
    --lightblue: #d7e3f7;
    --blue: #abb4e0;
    --darkblue: #434a69;
    --lightgrey: #c7c7c7;
    --offwhite: #fffdfa;
    --black: #2e2e30;
}
body {
    font-family: monospace;
    font-weight: normal;
    font-size: 14px;
    color: var(--brown);
}
button, button, input, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
h1, h2, h3, h4 {
    margin-bottom: 5px;
    font-style: italic;
}
h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child) {
    margin-top: 10px;
}

p:not(:last-child), ul:not(:last-child), ol:not(:last-child) {
    margin-bottom: 10px;
}
a {
    color: var(--red);
}
a:has(img) {
    font-size: 0;
}
ul {
    margin-left: 15px;
}
ol {
    margin-left: 20px;
}
ul.nolist, ol.nolist {
    margin-left: 0;
    list-style: none;
}