.left {
    width: 30vw;
}
.center {
    width: 50vw
}
.right {
    width: 20vw;
}

/* LEFT */

#calendar {
    border: 1px var(--blue) solid;
    width: 190px;
}
.cal-header {
    padding: 0 7px;
    display: flex;
    justify-content: space-between;
}
.cal-header button {
    background: none;
    border: 0;
}
.cal-grid {
    margin: 5px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    text-align: center;
}
.cal-grid div:nth-child(-n+7) {
    font-weight: bold;
    color: var(--textColor);
}
.has-post a {
    border-bottom: 1px var(--red) solid;
}
.current-day, .current-day a {
    color: var(--yellow) !important;
}

#pfp {
    border: 1px var(--blue) solid;
    width: 73px;
    margin-right: 5px;
    float: left;
}
#status {
    margin-bottom: 10px;
    display: flex;
    column-gap: 10px;
}
#discord {
    display: flex;
    column-gap: 5px;
}
#status-blob {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 4px;
}
#status-details {
    margin: 0;
    padding-right: 5px;
}
#imood img {
    height: 18px;
    margin: -2px 0 2px;
}

#chat {
    border: 1px var(--blue) solid;
    height: 175px;
}
#chattable {
    width: 100%;
    height: 100%;
}

/* CENTER */

.zatoring a:hover {
    background: none;
    text-decoration: underline;
}

#siteinfo .flex {
    margin-bottom: 5px;
}
#stats {
    width: 161px;
    margin: -3px 0 -5px;
    line-height: 28px;
}
#stats span {
    background-color: var(--blue);
    color: var(--paleblue);
}
#information ul {
    list-style: none;
    margin: 0;
}
#information .button {
    margin-top: 10px;
    display: flex;
    column-gap: 10px;
    justify-content: center;
}
#information textarea {
    height: 31px;
    width: 150px;
    resize: none;
}
#siteinfo .buttons {
    display: flex;
    column-gap: 5px;
    justify-content: center;
}

/* RIGHT */

#feed .inner {
    height: 250px;
    overflow-y: auto;
}
#feed h4 {
    border-bottom: 1px var(--blue) solid;
    width: 100%;
    margin: 10px 0;
    padding-left: 15px;
    line-height: 0;
}
#feed h4:not(:first-child) {
    margin-top: 13px;
}
#feed span {
    background-color: var(--blue);
    border: var(--paleblue) solid;
    border-width: 0 5px;
    padding: 0 5px;
    font-weight: normal;
    color: var(--paleblue);
}