.left {
    width: 35vw;
}
.center {
    width: 51vw;
}
.right {
    width: 200px;
}

/* LEFT */
/* CENTER */

.buttons {
    display: flex;
    grid-gap: 5px;
    flex-wrap: wrap;
}
.buttons:not(:last-child) {
    margin-bottom: 10px
}
.buttons img {
    width: 88px;
    height: 31px;
}
.tooltipContent:has(span) {
    padding-top: 3px;
}

#webrings, #cliques {
    width: 50%;
}
#webrings .inner, #cliques .inner {
    height: 290px;
    margin: 0;
    overflow-y: auto;
}

.ring:not(:last-child) {
    margin-bottom: 10px;
}
.ring a:hover {
    background: none;
}

#chuuniring {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://supernw095.nekoweb.org/chuuniring/chuuniring-bg.webp);
    height: 165px;
    border-radius: 5px;
}
#chuuniring a {
    color: #efefff;
    text-shadow: 2px 2px #7b6b94;
}

#cliques ul {
    margin: 0;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    grid-gap: 10px;
}
#cliques ul:not(:first-child) {
    margin-top: 5px;
}
#cliques li {
    margin: 0;
}