body {
    background-color: var(--lightpink);
    background-image:
        repeating-linear-gradient(
            transparent,
            transparent 25px,
            rgba(255, 255, 255, 0.2) 25px,
            rgba(255, 255, 255, 0.2) 50px),
        repeating-linear-gradient(90deg,
            transparent,
            transparent 25px,
            rgba(255,255,255,0.4) 25px,
            rgba(255,255,255,0.4) 50px
        );
    background-size: 100% 100%;
}
#s-m-t-tooltip {
    background-color: white;
    border: 1px var(--pink) solid;
    border-radius: 50px;
    max-width: 300px;
    margin: 24px 14px 7px 4px;
    padding: 5px 10px;
}
.container {
    width: 1000px;
    margin: 40px auto;
    display: flex;
}
aside {
    background-color: var(--palepink);
    border: 1px var(--pink) solid;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 200px;
    height: fit-content;
    margin: 50px 0;
    padding: 10px;
    position: relative;
}

nav:not(:last-child) {
    margin-bottom: 10px;
}
nav a, nav span {
    display: block;
}
nav span {
    background-color: white;
    border: 8px transparent solid;
    border-image: 8 url(images/navBorder.webp) round;
    width: 100%;
    padding: 2px;
    font-style: italic;
}
nav .menu {
    position: relative;
}
nav .menu:not(:last-child) {
    margin-bottom: 10px;
}
nav .menuContent {
    background-color: white;
    border: 1px var(--pink) solid;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 100px;
    overflow: hidden;
    z-index: 3;
    visibility: hidden;
}
nav a {
    padding: 2px;
}
nav a:not(:last-child) {
    border-bottom: 1px var(--pink) solid;
}
nav a:hover {
    background-color: var(--palepink);
}
nav .menu:hover .menuContent {
    visibility: visible;
}

/* MAIN */

main {
    background-color: var(--palepink);
    border: 1px var(--pink) solid;
    border-radius: 5px;
    width: 800px;
    padding: 10px;
    position: relative;
}

/* HEADER */

header {
    background-color: var(--lightpink);
    border: 3px white double;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}
header .inner {
    width: 600px;
    padding: 50px;
    text-align: center;
    color: white;
    position: relative;
}
header .inner p {
    color: white;
    position: absolute;
    left: 8px;
    bottom: 5px;
}

#calendar {
    border-right: 3px white double;
    width: 180px;
    overflow: hidden;
}
.cal-header {
    background-color: var(--pink);
    border-bottom: 1px white solid;
    padding: 2px 7px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cal-header button {
    background: none;
    border: 0;
    padding: 0;
}
.cal-grid {
    margin: 5px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    text-align: center;
}
.cal-grid div:nth-child(-n+7) {
    color: var(--darkpink)
}
.current-day {
    color: var(--darkpink);
}

/* MIDDLE */

.middle {
    margin: 10px 5px;
}

.middle .flex {
    display: flex;
    column-gap: 10px;
}
.middle h1, .middle h2, .middle h3, .middle h4{
    border-bottom: 1px var(--brown) dashed;
}
.middle h2:not(:first-child) {
    margin-top: 15px;
}

.box {
    border: 1px var(--pink) solid;
    border-radius: 5px;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--pink) transparent;
}
.box:not(:last-child) {
    margin-bottom: 10px;
}
.box .head {
    background-color: var(--lightpink);
    border-bottom: 1px var(--pink) solid;
    padding: 2px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px var(--darkpink);
    color: white;
}
.box .head:not(:first-child) {
    border-top: 1px var(--pink) solid;
}
.box .inner {
    padding: 5px;
    overflow-y: auto;
}

/* FOOTER */

footer {
    text-align: center;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
footer li:not(:last-child)::after {
    content: "-";
    margin: 0 10px;
}
