body {
    background-color: var(--lightpink);
    background-image:
        repeating-linear-gradient(
            transparent 0 25px,
            rgba(255, 255, 255, 0.2) 25px 50px),
        repeating-linear-gradient(90deg,
            transparent 0 25px,
            rgba(255,255,255,0.4) 25px 50px
        );
    margin: 40px;
}

h1, h2, h3, h4 {
    border-bottom: 1px var(--brown) dashed;
    padding-right: 15px;
    font-style: italic;
    position: relative;
    &::after {
        content: url(images/graphics/pixels/daisy.webp);
        position: absolute;
        right: 0;
    }
    &:has(span) {
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    span {
        font-size: 12px;
        font-weight: normal;
    }
}
b {
    color: var(--red);
}

hr {
    border: none;
    border-bottom: 1px var(--brown) dashed;
    margin: 10px 0;
}

#s-m-t-tooltip {
    background-color: white;
    border: 1px var(--pink) solid;
    border-radius: var(--borderRadiusMd);
    max-width: 300px;
    margin: 0 14px 7px 18px;
    padding: 5px 10px;
    z-index: 99;
}
.container {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "header header"
        "aside main"
        ". footer";
    scrollbar-color: var(--pink) var(--paleyellow);
    scrollbar-width: thin;
}

.devide {
    background-color: var(--lightpink);
    border: var(--pink) solid;
    border-width: 1px 0;
    padding: 7px;
    text-align: center;
    text-shadow: 1px 1px var(--darkpink);
    text-box: trim-both cap alphabetic;
    color: white;
    &::before, &::after {
        display: none;
    }
}

/* ASIDE */

aside, header, main, footer {
    background-color: var(--paleyellow);
    border: var(--pink) solid;
}

aside {
    border-width: 0 0 1px 1px;
    border-bottom-left-radius: var(--borderRadiusMd);
    height: fit-content;
    margin-bottom: 10px;
    padding: 0 10px 10px;
    grid-area: aside;
    position: relative;
}

aside .devide {
    margin: 0 -10px;
    text-align: right;
}

nav:not(:last-child) {
    margin-bottom: 10px;
}
.navBox {
    background-color: var(--palepeach);
    border: 1px var(--pink) solid;
    border-radius: var(--borderRadiusSm);
    list-style: none;
    &:has(details[open]) {
        border-bottom-right-radius: 0;
    }
    summary {
        text-decoration: underline;
        color: var(--red);
    }
}
nav > .navBox {
    margin-top: 10px;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
nav a, nav details {
    display: block;
    position: relative;
    &:not(:last-child) {
        border-bottom: 1px var(--pink) solid;
    }
    &::after {
        content: url(images/navClover.webp);
        zoom: 70%;
        transition: ease-in-out .2s;
        position: absolute;
        right: 6px; top: 5px;
    }
    &[open]::after {
        content: none;
    }
}
nav a, nav summary {
    padding: 2px 8px;
    &::marker {
        content: "";
    }
}
nav details .navBox {
    border-top-left-radius: 0;
    width: 80%;
    margin: 0;
    position: absolute;
    inset: -.7px auto auto 100%;
    z-index: 1;
}
nav a:hover, nav details:hover {
    &::after {
        transform: scale(115%);
    }
}
nav summary:hover {
    color: var(--green);
}

/* HEADER */

header {
    border-width: 1px 1px 0;
    border-radius: var(--borderRadiusMd) var(--borderRadiusMd) 0 0;
    padding: 10px;
    grid-area: header;
}
#banner {
    background-color: var(--lightpink);
    border: 3px white double;
    border-radius: var(--borderRadiusSm);
    display: flex;
    overflow: hidden;
}
#banner .inner {
    background-image: url(images/header.webp);
    background-size: cover;
    background-position: center right;
    width: calc(100% - 180px);
    padding: 6px 10px;
    text-shadow:
        1px 0 var(--darkpink),
        0 1px var(--darkpink),
        0 -1px var(--darkpink),
        -1px 0 var(--darkpink),
        1px 1px var(--darkpink),
        -1px -1px var(--darkpink),
        1px -1px var(--darkpink),
        -1px 1px var(--darkpink);
    color: white;
    place-content: end;
}

#calendar {
    border-left: 3px white double;
    width: 180px;
    overflow: hidden;
}
.cal-header {
    background-color: var(--pink);
    border-bottom: 1px white solid;
    padding: 2px 7px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cal-header button {
    background: none;
    border: 0;
    padding: 0;
}
.cal-grid {
    margin: 5px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    text-align: center;
}
.cal-grid div:nth-child(-n+7) {
    color: var(--darkpink)
}
.current-day {
    font-weight: bold;
    text-shadow: 1px 1px var(--darkpink);
    color: white;
}

/* MAIN */

main {
    border-width: 0 1px;
    padding: 0 15px 10px;
    position: relative;
    grid-area: main;
}

main .devide {
    margin: 10px -15px;
}
main .flex {
    display: flex;
    column-gap: 10px;
    .box {
        margin-bottom: 0;
    }
}

.box {
    border: 1px var(--pink) solid;
    border-radius: var(--borderRadiusMd);
    overflow: hidden;
}
.box:not(:last-child) {
    margin-bottom: 10px;
}
.box .devide {
    margin: 0;
    &:first-child {
        border-top: 0;
    }
}
.box .inner {
    padding: 5px;
    overflow-y: auto;
}

/* FOOTER */

footer {
    border-width: 0 1px 1px;
    border-radius: 0 0 var(--borderRadiusMd) var(--borderRadiusMd);
    padding: 0 10px 10px;
    text-align: center;
    grid-area: footer;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
footer li:not(:last-child)::after {
    content: "-";
    margin: 0 10px;
}