:root {
    --palepink: #f0d1e0;
    --red: #b51f1f;
    --lightyellow: #fffab0;
    --yellow: #e6d71c;
    --lightgreen: #9bbb9b;
    --green: #4c6942;
    --paleblue: #dfe2ed;
    --lightblue: #7f96db;
    --blue: #232396;
    --white: #f5f5f5;
    --palegrey: #dedede;
    --grey: #858585;
    --darkgrey: #3b3737;
    --black: #1a1818;
}

body {
    background-color: var(--paleblue);
    display: grid;
    grid-template-rows: 21px calc(100vh - 21px);
    grid-template-columns: 300px calc(100vw - 300px);
    color: var(--black);
    overflow: hidden;
}

a {
    color: var(--blue);
}
a[href^="https://"]::after {
    background-color: var(--blue);
}
a:hover {
    color: var(--red);
}
a[href^="https://"]:hover::after {
    background-color: var(--red);
}

ul {
    margin-left: 15px;
    list-style: "- ";
}

textarea {
    background: transparent;
    border: 1px var(--blue) solid;
    padding: 1px 5px;
    font-size: 80%;
}

.tooltip {
    width: fit-content;
    position: relative;
}
.tooltipContent {
    background-color: var(--white);
    border: 3px var(--black) double;
    width: 150px;
    padding: 5px;
    position: absolute;
    bottom: calc(100% + 10px);
    right: 50%;
    margin-right: -75px;
    visibility: hidden;
    z-index: 2;
}
.tooltip:hover .tooltipContent {
    visibility: visible;
}
.tooltipContent span {
    background-color: var(--blue);
    color: var(--white);
}

/* HEADER */

header {
    border-bottom: 1px solid;
    height: 21px;
    padding: 2px 5px;
    display: flex;
    justify-content: space-between;
    
    grid-row: 1;
    grid-column: 1/3;
}
header, header .menuContent {
    background-color: var(--black);
    border-color: var(--white);
    box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}
header, header a {
    color: var(--white);
}
header a[href^="https://"]::after {
    background-color: var(--white);
}

nav {
    margin: -2px 0;
    display: flex;
}
nav a, nav span {
    padding: 2px 10px;
    text-decoration: none;
    display: block;
}
nav span {
    cursor: default;
}
nav a:hover, nav span:hover {
    background-color: rgba(255,255,255,0.05);
}
nav .menu {
    position: relative;
}
nav .menuContent {
    border-width: 0 1px 1px;
    border-style: solid;
    width: 150px;
    opacity: 0;
    position: absolute;
    transition: .2s ease-in-out;
    pointer-events: none;
    z-index: 2;
}
nav .menu:hover .menuContent {
    opacity: 1;
    pointer-events: all;
}

/* SIDEBAR */

aside {
    background-color: var(--black);
    border-right: 1px var(--white) solid;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
    width: 300px;
    padding: 10px;
    color: var(--white);
    grid-row: 2;
    grid-column: 1;
}
#banner {
    border: 1px var(--white) solid;
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: top;
}

/* MAIN */

main {
    padding: 20px;
    overflow-y: auto;
    grid-row: 2;
    grid-column: 2;
}

.box {
    border: 1px var(--blue) solid;
    padding: 8px;
    position: relative;
}
.box:not(:last-child) {
    margin-bottom: 20px;
}
.box:has(.inner) {
    padding: 0;
}
p + .box {
    margin-top: 25px;
}
.boxHead {
    background-color: var(--paleblue);
    border: var(--paleblue) solid;
    border-width: 0 5px;
    margin-left: 10px;
    color: var(--blue);
    position: absolute;
    top: -10px;
}
.boxLine {
    border-bottom: 1px var(--blue) solid;
    width: 100%;
    margin: 10px 0;
    padding-left: 15px;
    line-height: 0;
}
.boxLine span {
    background-color: var(--blue);
    border: var(--paleblue) solid;
    border-width: 0 5px;
    padding: 0 5px;
    font-weight: normal;
    color: var(--paleblue);
}
.box .inner {
    padding: 8px;
}

.flex {
    display: flex;
    column-gap: 10px;
}
.flex:not(:last-child) {
    margin-bottom: 20px;
}

#discord {
    display: flex;
    column-gap: 5px;
}
#status-blob {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 3.5px;
}
#status-details::first-letter {
    text-transform: capitalize;
}

/* FOOTER */

footer {
    margin-top: 20px;
    text-align: center;
}
footer ul {
    margin-bottom: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
}
footer li:not(:last-child)::after {
    content: "-";
    margin: 0 5px;
}

/* END */

::selection {
    background-color: var(--red);
    color: var(--green);
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-left: 1px var(--blue) solid;
}
::-webkit-scrollbar-thumb {
    background-color: var(--lightblue);
}