<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>
    
<body>
    <div class="container">
        <aside>
            <img id="pfp" src="">
            <nav>
                <a href="index.html">Home</a>
                <a href="">About me</a>
                <a href="">Link 3</a>
                <a href="">Link 4</a>
            </nav>
        </aside>
        <main>
            <p>Goodmorning. This is a website on the net.</p>
            <p>You could call me [NAME]</p>
            <h2>Neighbors</h2>
        </main>
    </div>
</body>
</html>