* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: ms gothic, monospace;
}
a {
    color: blue;
}

.container {
    border: 2px red solid;
    width: 800px;
    margin: auto;
    display: flex;
}
aside, main {
    padding: 10px;
}
aside {
    border-right: 2px red solid;
    width: 200px;
}
#pfp {
    border: 2px red solid;
    width: 156px;
    height: 156px;
    margin: 10px;
    display: block;
}
nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main {
    width: 600px;
}